<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>PublisherStudio</title>
    @DxResourceManager.RegisterTheme(Themes.OfficeWhite)
    <link href="_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.css" rel="stylesheet" />
    @DxResourceManager.RegisterScripts()
    <link rel="stylesheet" href="css/site.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script type="module" src="js/publisherInterop.js"></script>
</body>
</html>
