@page "/error"
<PageTitle>Error</PageTitle>
<div class="fatal-page">
    <h1>PublisherStudio could not complete the request.</h1>
    <p>Review the application log for the underlying exception.</p>
</div>
